.CategoryPage {
  border: 1px solid black;
  padding: 10px 50px;
  margin: 0% 10%;
}

.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer; // margin-left: 1300px;
}

/* Darker background on mouse-over */

.btn:hover {
  background-color: red;
}

.AdminContent {
  padding: 10px 50px;
  margin: 0% 10%;
}