.Header {
  background: url(../../../assets/images/login-banner.png);
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  nav {
    border-bottom: 1px solid #ccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  }
}

.SignUp {
  margin: 30px 0px;
  &__btn {
    color: #e7e7d7;
  }
  &__image {
    img {
      margin-top: 120px;
    }
  }
  .file {
    // height: 100px;
    position: absolute;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    z-index: -1;
    +label {
      cursor: pointer; // padding: 15px 50px 0 20px;
      color: #73788d;
    }
  }
}

.Popular {
  &__item {
    // border: 1px solid #ccc;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
}