@import "../../assets/_scssVariables/variables.scss";
.main-nav {
  position: fixed;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%; // height: 3.5rem;
  background-color: #f4f1e9;
  padding: 0 1rem; // display: flex;
  align-items: center;
  &__logo h1 {
    margin: 0;
    font-size: 1.5rem;
  }
  &__items {
    margin-left: 1.5rem;
    ul {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;
      @media (max-width: $screen-sm-min) {
        display: block;
        li {
          margin: 2px 0;
          a {
            border-radius: 10px;
            display: block;
            padding: 10px 10px;
          }
        }
      }
    }
    a {
      text-decoration: none;
      color: #3c2618;
      padding: 25px 20px;
      &:hover,
      &:active,
      &.active {
        color: #fff;
        background-color: #3c2618;
      }
    }
    &__collapsed {
      display: none;
      @media (max-width: $screen-sm-max) {
        display: block;
      }
    }
  }
  @media (max-width: $screen-sm-max) {
    &__items {
      display: none;
      &__collapsed {
        display: block;
        display: flex;
        justify-content: center;
        min-height: 34px;
        margin: 78px 0 0 0;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
        ul {
          display: flex;
          li {
            margin: 0;
          }
          a {
            padding: 14px 20px;
          }
        }
      }
    }
    form {
      margin-left: auto;
    }
  }
  @media (max-width: $screen-sm-min) {
    &__items {
      &__collapsed {
        margin: 66px 0 0 0;
      }
    }
  }
}
