.Button {
    // width: 100px;
    // height: 50px;
  }
  
  .CategoryPage{
    border: 1px solid black;
    padding: 10px 50px;
    margin: 0% 10% ;
  }
  .AdminContent{
     
    padding: 10px 50px;
    margin: 0% 10% ;
  }
  